= render partial: 'shared/surround'

!!! 5
%head
  = yield :head

%body
  = yield :head

  #header
    = yield :header
  #nav1
    = yield :nav1
  #nav2
    = yield :nav2
  #main
    = yield :main
  #footer
    = yield :footer

